<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300;500;700&display=swap" rel="stylesheet">

<style>
    *{
        font-family: 'Open Sans', sans-serif;
    }
</style>